@use '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  width: 100%;

  .header--burger-menu {
    display: none;
  }
  
  .header-logo {
    width: 25%;

    img {
      padding-left: 5%;
      width: 175px;
      height: auto;
    } 
  }

  .header-title {
    font-size: 2rem;
    font-weight: 600;
    color: variables.$yellow;
  }

  .header-menu {
    display: flex;
    align-items: center;
    width: 25%;

    .menu-items {
      display: flex;
      font-size: 16px;
      color: variables.$darkBlue;

      .menu-item {
        margin-right: 30px;
        &:hover {
          font-weight: 700;
        }
        &:active {
          font-weight: 700;
        }

        .menu-link-login {
          font-size: 16px;
          border: none;
          background-color: variables.$yellow;
          font-weight: 700;
          font-family: 'Quicksand', 'Helvetica', arial;
          padding: 10px;
          border-radius: 5px;
          color: variables.$darkBlue;
          &:hover {
            background-color: #fff;
            border: 2px solid variables.$yellow;
          }
        }
      }
    }
  }
}
