@use '../../styles/variables';

.footer {
  bottom: 0;
  width: 100%;
  height: 3rem;

  .footer-menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 13px;
    color: gray;

    .footer-social-item {
      width: 1%;
      cursor: pointer;
    }

    .footer-menu-item {
      &:hover {
        color: #000;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }  
}